body{
    background-color: #f5f7f6;
}
#alert{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px;
  }
.display-4{
    padding-top: 55px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
form{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 55px;
  }
a{
    text-decoration: none;
}
#registerOrg{
  margin-bottom: 8px;
}
@media only screen and (max-width: 950px) {
    .spacing{
      padding-left: 10px;
      padding-right: 10px;
    }
    }
